/* Stil za rezultate */
.result-item {
    display: flex;
    align-items: center; /* Poravnanje teksta i slika po sredini */
    padding: 10px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s ease; /* Glatka promena boje pozadine */
  }
  
  .result-item:last-child {
    border-bottom: none;
  }
  
  .result-item:hover {
    background-color: #f7f9fc; /* Svetlija pozadina na hover */
  }
  
  .result-item div {
    flex-grow: 1; /* Omogućava tekstu da zauzme preostali prostor */
    padding-left: 10px; /* Razmak između teksta i slike */
  }
  
  /* Slike sa uniformnim dimenzijama */
  .product-image {
    width: 50px; /* Fiksna širina slike */
    height: 50px; /* Fiksna visina slike */
    object-fit: contain; /* Održava proporcije slike */
    border-radius: 3px; /* Blago zaobljeni uglovi */
    border: 1px solid #ddd;
    transition: transform 0.3s ease, border-color 0.3s ease; /* Efekti na hover */
  }
  
  /* Hover efekti za slike */
  .product-image:hover {
    transform: scale(1.2); /* Povećava sliku na hover */
    border-color: #999; /* Promena boje okvira na hover */
  }
  
  /* Dodavanje margine oko rezultata */
  #results {
    margin-top: 20px; /* Razmak između pretrage i rezultata */
  }
  
  #debounce-toggle {
    margin-left: 10px;
}

label {
    margin-left: 5px;
}
